{% extends 'base.html' %}
{% block content %}
<!-- Server -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dracula.css') }}"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<article id="work" class="wrapper style2">
    <div class="container">
        <header>
            <h2>Badge {{ data.name }}</h2>
            <!--
            <p></p>
            -->
        </header>
        <div class="row aln-center">
            {% for badge in save_paths %}
            <div class="col-6 col-6-medium col-12-small">
                <section class="box style1">
                    <h3>Static PNG Badge</h3>
                    <p>{{ badge.theme }} theme</p>
                    <img class="show_png_badge" src="/{{ badge.path }}" />
                    <pre><code class="html">&lt;img src=&quot;{{ data.url }}/{{ badge.path }}&quot; /&gt;</code></pre>
                </section>
            </div>
            {% endfor %}
        </div>
        <br>
        <div class="row aln-center">
            <div class="col-6 col-6-medium col-12-small">
                <section class="box style1">
                    <h3>Dynamic JS Badge</h3>
                    <p>HackTheBox theme</p>
                    <script src="/{{ js_file_path }}"></script>
                    <pre><code class="html">&lt;script src=&quot;{{ data.url }}/{{ js_file_path }}&quot;&gt;&lt;/script&gt;</code></pre>
                </section>
            </div>
        </div>
        <footer>
            <!--
            <p></p>
            <a href="#portfolio" class="button large scrolly"></a>
            -->
        </footer>
    </div>
</article>
{% endblock %}
